:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue);
    color: white;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--dark-grayish-blue);
    border-radius: 1rem;
    text-align: center;
    padding: 2.25rem;
}

.container > p {
    color: var(--neon-green);
    margin-bottom: 1.5rem;
    letter-spacing: 0.3rem;
    font-size: 0.65rem;
}

.container > h1 {
    margin-bottom: 3rem;
    font-size: 28px;
    line-height: 2;
    letter-spacing: 0.2rem;
    color: var(--light-cyan);
}

.container > picture > img {
    margin-bottom: 1.5rem;
}

.dice--button > button {
    background-color: var(--neon-green);
    border: none;
    padding: 1rem;
    border-radius: 100%;
    position: relative;
    top: 3.5rem;
    transition: box-shadow ease-in-out 0.4s;
    cursor: pointer;
}

.dice--button > button:hover  {

    box-shadow: 0 0 15px hsl(150, 90%, 70%); 
}



@media (min-width: 500px) {
    .container {
        max-width: 500px;
    }
}